<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

        <link
            rel="preconnect"
            href="https://fonts.googleapis.com" />
        <link
            rel="preconnect"
            href="https://fonts.gstatic.com"
            crossorigin />

        <link
            href="https://fonts.googleapis.com/css2?family=Alice&display=swap"
            rel="stylesheet" />
        <link
            href="https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap"
            rel="stylesheet" />

        <style type="text/tailwindcss">
            @theme {
                --font-display: "Oswald", sans-serif;
                --font-alex: "Alex Brush", cursive;
                --font-alice: "Alice", cursive;
                --color-brand: #9a5237;
            }

            .bg-pattern {
                background-image: url("/imagens/s.png");
                background-size: cover;
                background-position: center;
            }
        </style>
    </head>
    <body class="bg-slate-950 flex flex-row justify-center">
        <div class="bg-white w-96 h-[100vh] w-[500px] relative overflow-hidden font-alice">
            <div class="relative h-full w-full flex flex-col items-center justify-center bg-cover bg-pattern">
                <div class="absolute inset-0 bg-white/70"></div>
                <div class="relative text-center text-brand grow-1"></div>

                <div class="relative text-center font-alex text-brand z-100 grow-1 flex flex-col justify-center">
                    <p
                        class="text-[150px] leading-[50px] decoration"
                        style="text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6)">
                        25
                    </p>

                    <p class="text-[50px]">Anos da Luana</p>

                    <div class="text-center text-brand z-100">
                        <p class="text-2xl font-semibold">
                            Olá
                            <span
                                class="font-alice text-[40px]"
                                th:text="${guest.name}"
                                >,</span
                            >
                            convido você para comemorar este dia incrível comigo!
                        </p>
                    </div>

                    <div class="flex justify-center gap-10 mt-4 text-white text-xl">
                        <div class="bg-brand p-1 rounded-md w-[150px]">25/10/2025</div>
                        <div class="bg-brand p-1 rounded-md w-[150px]">10:30</div>
                    </div>

                    <div class="text-[20px] mt-5 font-semibold font-alice">
                        <p>Rua Saraiva</p>
                        <p>Conto com a sua presença</p>
                    </div>
                </div>

                <div class="flex gap-10 relative text-center z-100 mb-5">
                    <button class="bg-green-500 cursor-pointer text-white p-2 rounded-md text-xl w-[120px] md:w-[180px]">Confirmar</button>
                    <button class="bg-red-500 cursor-pointer text-white p-2 rounded-md text-xl w-[120px] md:w-[180px]">Recusar</button>
                </div>
            </div>

            <img
                class="w-[150px] sm:w-[200px] md:w-[250px] absolute top-10 sm:top-8 md:top-5 left-0 transition-all duration-300"
                th:src="@{/imagens/baloes.png}"
                alt="Baloes esquerda" />
            <img
                th:src="@{/imagens/baloes.png}"
                class="w-[200px] md:w-[250px] absolute top-0 right-[-55px]"
                alt="Baloes direita" />
            <img
                th:src="@{/imagens/s3.png}"
                class="w-[500px] h-[500px] absolute bottom-0 right-0"
                alt="Decoração" />
        </div>
    </body>
</html>
